# File Types to Ignore
*.tiff
*.tif
*.ovr
*.adf
*.xml
*.xyz
*.dat
*.nit
*.shp
*.dbf
*.shx
*.cpg
*.prj
*.csv
*.png
*.jpg
*.qgz
*.csv
*.grd
*.ldb
*.d3d
*.dia
*.doc
*.docx
*.qix
*.pkl
*.pkl*
*.geojson
*.zip
*.pptx
*.pptm
*.shp
# Folders to ignore
manuscripts/
data/
QGIS/